/*  HTML Reset */

* { box-sizing: border-box; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*  Styles */

body {
    background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%) no-repeat;
    font-family:"Roboto", Arial, sans-serif;
    height:100%;
}

main { padding:20px; }

main header {
    display:flex;
    flex-direction:column;
    text-align: center;
    width:100%;
}
    h1#summary {
        color:#444;
        font-family:"Lato", Arial, sans-serif;
        font-size:3.5rem;
        text-transform: uppercase;
    }
    main header canvas {
        margin:20px auto;
        max-width:100px;
    }
    h2#temp {
        color:#fff;
        font-size:2rem;
    }

main dl {
    margin:15px auto 0px auto;
    text-align: center;
}
    .day, main dl dd {
        display:inline-block;
        margin:5px 0px;
        width:40%;
    }
    .day {
        font-family:"Lato", Arial, sans-serif;
        font-size:1.5rem;
        padding:15px 0px;
        vertical-align:text-bottom;
    }
    main dl dd span {
        display:block;
        margin:15px;
    }
        main dl dd span:last-of-type { color:#fff; }


/*  Media Queries  */

@media screen and (min-width:600px){
    main {
        margin:auto;
        max-width:700px;
    }
        .day { font-size:2.5rem; }
        main dl dd span { font-size:2rem; }
}
